{% extends 'case005/base.html' %}
{% load static %}

{% block title1 %}
<h1>{{key.club.name}} TMC </h1>
{% endblock %}
{% block content %}


<a href='../'>Back to Index</a>
<hr>
<h2>Person List </h2>
<table class='gridtable'>
    <tr>

        <th></th>
        <th>Meetings</th>
        <th>Name</th>
        <th>Member Since</th>
     
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td align='right'> {{x.meetingcnt}}</a> </td>
        <td><a href='{{x.person}}/'>{{x.person__name}}</a> </td>
        <td align='center'> {{x.profile.member_since|default_if_none:''}}</a> </td>
        


    </tr>

    {% endfor %}
</table>

{% endblock %}