{% extends 'reading/base.html' %}

{% block page_name  %}About 準備會有幾個階段的開發部署和應用{% endblock %}


{% block go_up  %}
<a class='btn btn-info' href='../'>index</a>
<a class='btn btn-warning' href='/admin/'>進後台</a>
{% endblock %}


{% block content %}
<div class='as-h3'>第一階段 2019-12-14</div>

<ul>
    <li>
        先能快速維護 12/14 的聚會出席人員。
       
    </li>
    <li>
        使用中文名。
    </li>
    <li>
        單一維護人員，使用標準後台。
    </li>
    <li>
        index 頁面顯示日期和人數。
    </li>
    <li>
        date 頁面顯示聚會日期的人員列表和備註。
    </li>
    <li>
        name 頁面顯示人員所參與的聚會日期和備註。
    </li>
    
 
            
</ul>

{% endblock %}