{% extends 'clubs/base.html' %}
{% load portal_extra %}
{% block app_name %}
online Django-TMC
{% endblock %}
{% block page_name %}
Vision

{% endblock %}

{% block go_up  %}
<a class='btn btn-info' href='../'>go Up </a>
{% endblock %}

{% block content %}
<ul>
    <li>
        以 c9.io 為體驗核心
      </li>
      <li>
        在線上即可按帳號顯示佈署的實例 
      </li>
      <li>
        每個實例可以獨立運行，可以選擇使用或是不使用範例數據
    </li>
    <li>
        每個實例可以進行二次開發
    </li>
    <li>
        要能夠在線上做Django 的代碼編輯和運行
    </li>
    <li>
        要能夠下載到本地
    </li>
    <li>
        要能夠接受本地上傳到指定實例
    </li>
    <li>
        要能夠從Github更新觸發實例更新。要能有個設定選項，自動更新或手動更新。
    </li>
    <li>
        要能夠有效回退到之前某個版本控制。
    </li>
    
        
</ul>
{% endblock %}