{% extends 'blog/base.html' %}
{% load static %}
<!-- {% load km001_extra %} -->

{% block app_name %}
Event 1222

{% endblock%}

{% block page_name %}
West club show
{% endblock%}


{% block go_up  %}
<a class='btn btn-info' href='../info/'>回到上層 </a>
{% endblock %}

{% block content %}


<pre>
Every Sha-la-la-la
Every Wo-o-wo-o
Still shines
Every shing-a-ling-a-ling
That they're startin' to sing's
So fine

When they get to the part
Where he's breakin' her heart
It can really make me cry
Just like before
It's yesterday once more

Lookin' back on how it was
In years gone by
And the good times that I had
Makes today seem rather sad
So much has changed

It was songs of love that
I would sing to then
And I'd memorize each word
Those old melodies
Still sound so good to me
As they melt the years away

Every Sha-la-la-la
Every Wo-o-wo-o
Still shines
Every shing-a-ling-a-ling
That they're startin' to sing's
So fine

All my best memories
Come back clearly to me
Some can even make me cry
Just like before
It's yesterday once more
</pre>

<hr>
Jingle Bells
<br>

Frank Sinatra version
<br>
<br>
<pre>
00:10

Jingle bells, jingle bells,
Jingle all the way
Oh, what fun it is to ride
In a one-horse open sleigh

Jingle bells, jingle bells
Jingle all the way
Oh, what fun it is to ride
In a one-horse open sleigh

Dashing through the snow
On a one-horse open sleigh
O'er the fields we go,
Laughing all the way
Bells on bob tail ring,
making spirits bright
What fun it is to laugh and sing
A sleighing song tonight

01:09
</pre>



{% endblock  %}