{% extends 'blog/base.html' %}
{% load static %}
<!-- {% load km001_extra %} -->

{% block app_name %}
Event 1222

{% endblock%}

{% block page_name %}
West club show
{% endblock%}


{% block go_up  %}
<a class='btn btn-info' href='../info/'>回到上層 </a>
{% endblock %}

{% block content %}

Frank Sinatra version
<br>
<br>
<pre>
Jingle bells, jingle bells,
Jingle all the way
Oh, what fun it is to ride
In a one-horse open sleigh

Jingle bells,jingle bells
Jingle all the way
Oh,what fun it is to ride
In a one-horse open sleigh
</pre>
{% endblock  %}