{% extends 'note/base.html' %}
{% load static %}
{% block content %}

<h1><br>2019 WW</h1>
   
<table class='gridtable'>
    <tr>
        <th></th>
        <th>Year</th>
        <th>WW</th>
        <th>Date From</th>
        <th>Date To</th>
    </tr>
    {% for x in list %}
    <tr>
        <th>{{forloop.counter}} </th>
        <td>{{x.yr}} </td>
        <td align='ceenter'>{{x.num}}</td>
        <td>{{x.date1|date:"Y-m-d"}}</td>
        <td>{{x.date2|date:"Y-m-d"}}</td>
    </tr>
    {% endfor %}

</table>
{{ value|date:"D d M Y" }}

{% for x in list %}
<hr>
<h3>{{x.yr}} {{x.num}}</h3>
<pre>{{x.date1}} - {{x.date2}} </pre>



{% endfor %}
{% endblock %}