{% extends 'simple/base.html' %}
{% block title1 %}
Club:{{club.name}}

{% endblock %}
{% block title2 %}
Add Person

{% endblock %}

{% block content %}
<hr>
<form method="post" id="personForm" 
>
  {% csrf_token %}
  <table class='gridtable'>
    {{ form.as_table }}

    <tr>
      <td colspan='2' align='center'>

        <a href="../" class='btn btn-warning'>Cancel</a>

        <button type="submit" class='btn btn-info'>Save</button>
      </td>
    </tr>
  </table>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_country").change(function () {
    var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
    var countryId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'country': countryId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>{% endblock %}