{% extends 'case005/base.html' %}
{% load static %}

{% block title1 %}
<h1>{{key.club.name}} TMC  </h1>
{% endblock %}
{% block content %}


<a href='../' class='btn btn-info'>go Upper</a>&nbsp;<a  class='btn btn-info' href='add_meeting'>add Meeting</a>
<hr>
<h2>{{ key.obj.name}}</h2>
<table class='gridtable'>
    <tr>
   
    <th></th>
    <th>Date</th>
    <!-- <th>Type</th> -->
    <th>Head Count</th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td>{{x.date1}} </td>
        <td align='right'>  <a href='{{x.date1}}/'>{{x.headcnt}}</a> </td>
     </tr>

    {% endfor %}
</table>

{% endblock %}