{% extends 'clubs/base.html' %}
{% load portal_extra %}
{% block title1 %}
Club: {{key.club.name}}

{% endblock %}
{% block page_name %}
{{key.club.name}} Club {{key.is_member|true_is_member}} List

{% endblock %}

{% block go_up  %}
<a class='btn btn-info' href='../../'>go Up </a>
{% endblock %}

{% block content %}



<table class='gridtable'>
    <tr>
        <th>*</th>
        <th>Name</th>
        <th>Fullname</th>
        <!-- <th>Member</th> -->
        <th>Member Since</th>
        <th>Note</th>

    </tr>
    {% for x in list1 %}
    <tr>
        <th>{{forloop.counter}}</th>
        <td><a href='{{x.id}}/'>{{x.name}}</a></td>
        <!-- <td>{{x.name}}</td> -->
       
        <td>{{x.fullname}}</td>
        <!-- <td align='center'>
            {% if x.is_member %}
            V
            {% else  %}
            .
            {% endif  %}

        </td> -->
        <td>{{x.member_since|date:'Y-m-d'}}</td>
        <td>{{x.note|default_if_none:''}}</td>

    </tr>

    {% endfor %}


</table>
{% endblock %}