{% extends 'clubs/base.html' %}
{% load static %}

{% block app_name %}
{{key.club.name}} TMC  
{% endblock %}
{% block page_name %}
{{key.date1}} Meeting 
{% endblock %}

{% block go_up  %}
<a class='btn btn-info' href='../'>go Up </a>&nbsp;<a  class='btn btn-warning' href='add/'>add Meeting</a>
{% endblock %}

{% block content %}


<table class='gridtable'>
    <tr>
   
    <th></th>
    <!-- <th>Date</th> -->
    <!-- <th>Type</th> -->
    <th>Name</th>
    <!-- <th>Type</th> -->
    <th><a href='role/'>Roles</a></th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
       
        <td>
                {% if x.person__is_member %}
                <a href='../../member/{{x.person}}/'>{{x.person__name}}</a> 
        
                {% else  %}
                <a href='../../guest/{{x.person}}/'>{{x.person__name}}</a> 
                
                {% endif  %}

        
        </td>


        <!-- <td>{{x.member}} </td> -->
        <td>
                {% for x2 in x.roles %} 
               * {{ x2.role2.name }}<br>
                {% endfor %} 



        </td>
        <!-- <td align='right'>  <a href='{{x.date1}}/'>{{x.headcnt}}</a> </td> -->
     </tr>

    {% endfor %}
</table>

{% endblock %}