{% extends 'clubs/base.html' %}
{% load static %}

{% block app_name %}
{{key.club.name}} TMC 
{% endblock %}

{% block page_name %}
Add Meeting  {{key.date1}}
{% endblock %}

{% block content %}


{% if msg %}
<div class='as-h4'>
Error Message:<br><div style='color:red'> {{msg | safe}}</div>
</div>
{% endif  %}


<form method="POST" class="post-form" >
    
    {% csrf_token %}

    <table class='gridtable'>
<tr><th>Date</th><td>{{key.date1}}</td></tr>
        {{ form.as_table }}

<tr><td colspan='2' align='center'><button type="submit" class="save btn btn-primary">Save</button></td></tr>    
</table>
</form>



{% endblock %}