{% extends 'clubs/base.html' %}
{% load static %}

{% block app_name %}
{{key.club.name}} TMC 
{% endblock %}

{% block page_name %}
Meeting {{key.date1}}  by Role
{% endblock %}

{% block content %}




<table class='gridtable'>
    <tr>
   
    <th></th>
    <!-- <th>Date</th> -->
    <!-- <th>Type</th> -->
    <th>Role</th>
    <!-- <th>Type</th> -->
    <th>Name</th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td>{{x.role2__name}} </td>
        <!-- <td>{{x.member}} </td> -->
        <td>
                {% for x2 in x.names %} 
               * {{ x2.person.name }}
               {{ x2.person.lastname }}
               
               <br>
                {% endfor %} 



        </td>
        <!-- <td align='right'>  <a href='{{x.date1}}/'>{{x.headcnt}}</a> </td> -->
     </tr>

    {% endfor %}
</table>

{% endblock %}