{% extends 'clubs/base.html' %}
{% load static %}
{% load humanize %}



{% block app_name %}
Toastmasters Club
{% endblock %}

{% block page_name %}
Club Index
{% endblock %}

{% block go_up  %}
<a class='btn btn-info' href='../about'>About </a>
{% endblock %}


{% block content %}



<table class='gridtable'>
<tr>
    <th></th>
    <th>Club</th>
    <th>Meeting</th>
    <th>People</th>
</tr>
{% for x in list1 %}
<tr>
    <th>{{ forloop.counter }}</th>
    <td>{{ x.name }}</td>
    <td align='center'><a href='{{ x.id }}/meeting/'>Meeting</a></td>
    <td align='center'>
            <a href='{{ x.id }}/member/'>Member</a>
            <a href='{{ x.id }}/guest/'>Guest</a>
    
    </td>
   
</tr>
{% endfor  %}


</table>




{% endblock %}