{% extends 'case005/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<hr>
<h2>Step 1, Login </h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>
        <li>user: *** </li>
        <li>pass: *** </li>
        <li>Link is <a href='admin/'>Here</a> </li>

    </ul>
</h3>

<h2>Step 2, Add Record</h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>
        <li>Meeting </li>
        <li>ADD MEETING
            <ul style='font-family:  Courier, monospace;'>


                    <li>Meeting Date </li>
                    <li>Name </li>
                <li>Member or Guest</li>
                <li>Meeting Role
                    <!-- <ul style='font-family:  Courier, monospace;'>
                        <li>Select Attendance if no particular Role </li>
                        </ul> -->

                </li>

            </ul>

        </li>
        </li>
    </ul>
</h3>


<h2>Step 3, Check Results</h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>

        <li><a href='headcnt/'>Meeting Head Count</a>
        </li>
        <li><a href='rolecnt/'>Meeting Role Count</a>
        </li>

        <!-- <li>(2)<a href='s2/'>Member</a></li>
        <li>(3)<a href='s3/'>Meeting Roles</a></li>
        <li>(4)<a href='s4/'>Speaker & IE</a></li>
        <li>(5)<a href='best/'>Meeting Best</a></li> -->

    </ul>
</h3>


{% endblock %}